<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<!--    <uses-permission android:name="com.study.demo.provider.READ_PERMISSION" />-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studydemo"
        tools:targetApi="31">
        <provider
            android:name=".MyContentProvider"
            android:authorities="com.study.demo.provider"
            android:enabled="true"
            android:readPermission="com.study.demo.provider.READ_PERMISSION"
            android:exported="true"></provider>

        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.Studydemo" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".StudyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
